h1{
    color: black;
    text-decoration: dashed;
}

body{
    text-align: center;
    margin: 15px;
    background-color:burlywood;

}
h2{
    text-decoration: underline;
}
footer{
    margin: 15px;
}

